.face .scenePanel {
	position: absolute;
	cursor: pointer;
	z-index: 20;
}

#cube .rotator .face .scenePanel.frank {
	top: 215px;
	left: 242px;
	width: 60px;
	height: 80px;
	background-image: url(../images/frank_pose1.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	-webkit-transition: 150ms ease-in;
}

#cube .rotator .face .scenePanel.phone {
	position: absolute;
	top: 197px;
	left: 357px;
	width: 30px;
	height: 47px;
	background-image: url(../images/wall-phone.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
}

#cube .rotator .face .scenePanel.desktop {
	position: absolute;
	top: 233px;
	left: 216px;
	width: 40px;
	height: 40px;
	background-image: url(../images/1972-Plato-IV.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

#cube .rotator .face .scenePanel.readout {
	position: absolute;
	top: 110px;
	left: -50px;
	width: 140px;
	height: 70px;
	background-color: transparent;
	opacity: .5;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

#cube .rotator .face .scenePanel.printer {
	background-image: url(../images/officeprinter.png);
	position: absolute;
	top: 235px;
	left: 340px;
	width: 60px;
	height: 70px;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

.listener-frank #cube .rotator .face .scenePanel.frank {
	opacity: 0;
}

#floorGUI .scenePanel.nexus {
	top: 00px;
	left: 0px;
	width: 480px;
	height: 480px;
	background-image: url(../images/Nexus-ring.png);
	background-size: contain;
	background-repeat: no-repeat;
/*
	-webkit-transform: translateZ(-160px);
*/
}

